@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;1000&display=swap');
html{
    height: 100%;
}

body{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100%;
}

a{
    color: #fff;
    text-decoration: none;
}

@media (min-width: 1600px) {
    .content{
        width: 1300px;
        margin: 0 auto;
    }
    footer{
        width: 1300px;
        margin: 0 auto;
        padding: 30px;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {
    .content{
        width: 80%;
        margin: 0 auto;
    }
    footer{
        width: 80%;
        margin: 0 auto;
        padding: 30px;
    }
}

@media (min-width: 1180px) and (max-width: 1399px) {
    .content{
        width: 95%;
        margin: 0 auto;
    }
    footer{
        width: 95%;
        margin: 0 auto;
        padding: 30px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}
  /* Track */
  ::-webkit-scrollbar-track {

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgba(255,255,255,0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
  }

  ::-webkit-scrollbar-thumb:vertical{
    background: rgba(0,0,0,0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
  }

  ::-webkit-scrollbar-thumb:vertical:hover{
    background: rgba(0,0,0,0.3);
    border: solid 1px rgba(255, 255, 255, 0.4);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.3);
    border: solid 1px rgba(255, 255, 255, 0.4);
  }

.kaupungit{
    max-width: 100%;
    padding: 20px 0;
    max-height: 82px;
    overflow-x: scroll;
}

.kaupungit-inner{
    max-height: 82px;
    white-space: nowrap;
}

.kaupunki{
    text-align: center;
    width: 150px;
    margin-right: 5%;
    padding: 10px 0;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    box-sizing: border-box;
    margin: 0 10px;
    color: #DCDCDC;
}

.kaupunki:hover{
    background: rgba(255, 255, 255, 0.3);
    border: solid 1px rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.05);
}

.kaupunki-active{
    background: rgba(255, 255, 255, 0.3);
    border: solid 1px rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
}

.kaupunki-banneri{
    padding: 150px 60px 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: solid 2px rgba(255, 255, 255, 0.3);
}

.kaupunki-banneri:hover{
    border: solid 2px rgba(255, 255, 255, 0.4);
}




.yksikot{
    width: 100%;
    padding: 20px 0;
}

@media (max-width: 895px) {
    .yksikot{
        text-align: center;
    }
}

.yksikko{
    display: inline-block;
    margin: 0 10px;
}

.yksikko-nimi{
    display: inline-block;
    line-height: 25px;
}

.yksikko-nimi-toinen{
    margin-left: 60px;
}

.switch{
    height: 25px;
    width: 60px;
}

.switch-checkbox{
    display: none;
}  

.slider {
    position: absolute;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: .4s;
    transition: .4s;
    height: 25px;
    width: 60px;
    border-radius: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0;
    border-radius: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
}





.kaupunki-nimi-otsikko{
    width: 100%;
    display: block;
    font-size: 96px;
    font-weight: 1000;
    word-break: break-word;
}

.paivitetty{
    width: 100%;
    display: block;
    font-size: 32px;
}

@media (min-width: 1199px) {
    .blocks{
        padding: 0 80px 0 0;
    }
}

@media (min-width: 895px) and (max-width: 1200px) {
    .blocks{
        padding: 0 30px;
    }
}

@media (min-width: 450px) and (max-width: 894px) {

    .blocks > div{
        display: block!important;
        margin-left: calc(50% - 200px)!important;
    }
}

@media (max-width: 449px) {

    .blocks > div{
        display: block!important;
    }
}

.blocks > div{
    margin-top: 18px;
}

.block-otsikko{
    font-size: 24px;
}

.block-inner-hover:hover{
    background: rgba(255, 255, 255, 0.3);
    border: solid 1px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 5px 30px rgba(0,0,0,0.05);
}

.lampotila-block{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

@media (min-width: 1100px) {
    .lampotila-block-inner{
        width: 250px;
    }
}

@media (min-width: 450px) and (max-width: 1099px) {
    .lampotila-block-inner{
        width: 400px;
    }
}

@media (max-width: 449px) {
    .lampotila-block{
        width: 95%;
    }
}

.lampotila-block-inner{
    height: 270px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    box-sizing: border-box;
    text-align: center;
}

.lampotila-block-inner > div{
    margin-top: 120px;
    transform: translateY(-50%);
}

#condition{
    margin: 0 auto;
    display: block;
}

#lampotila{
    font-size: 48px;
    font-weight: 1000;
}

.tuuli-block{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

@media (min-width: 450px) {
    .tuuli-block-inner{
        width: 400px;
    }
}

@media (max-width: 449px) {
    .tuuli-block{
        width: 95%;
    }
}

.tuuli-block-inner{
    height: 270px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    box-sizing: border-box;
    text-align: center;
}

.tuuli-block-inner > div{
    margin-top: 130px;
    transform: translateY(-50%);
}

#tuuli{
    font-size: 48px;
    font-weight: 1000;
}

.kolmas-block{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

@media (min-width: 1100px) {
    .kosteus-block-inner{
        width: 330px;
    }
    .paine-block-inner{
        width: 330px;
    }
}

@media (min-width: 450px) and (max-width: 1099px) {
    .kosteus-block-inner{
        width: 400px;
    }
    .paine-block-inner{
        width: 400px;
    }
}

@media (max-width: 449px) {
    .kolmas-block{
        width: 95%;
    }
}

.kosteus-block-inner{
    height: 115px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    box-sizing: border-box;
    position: relative;
    padding: 0 20px;
}

.kosteus-block-inner svg{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#kosteus{
    font-size: 32px;
    font-weight: 1000;
    position: absolute;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.paine-otsikko{
    margin-top: 10px;
    display: block;
}

.paine-block-inner{
    height: 115px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    box-sizing: border-box;
    position: relative;
    padding: 0 20px;
}

.paine-block-inner svg{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#paine{
    font-size: 32px;
    font-weight: 1000;
    position: absolute;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.nakyvyys-block{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

@media (min-width: 1100px) {
    .nakyvyys-block-inner{
        width: 250px;
    }
}

@media (min-width: 450px) and (max-width: 1099px) {
    .nakyvyys-block-inner{
        width: 400px;
    }
}

@media (max-width: 449px) {
    .nakyvyys-block{
        width: 95%;
    }
}

.nakyvyys-block-inner{
    height: 270px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    box-sizing: border-box;
    text-align: center;
}

.nakyvyys-block-inner > div{
    margin-top: 120px;
    transform: translateY(-50%);
}

#nakyvyys{
    font-size: 48px;
    font-weight: 1000;
}

.sade-block{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

@media (min-width: 450px) {
    .sade-block-inner{
        width: 400px;
    }
}

@media (max-width: 449px) {
    .sade-block{
        width: 95%;
    }
}

.sade-block-inner{
    height: 270px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    box-sizing: border-box;
    text-align: center;
}

.sade-block-inner > div{
    margin-top: 120px;
    transform: translateY(-50%);
}

#sade{
    font-size: 48px;
    font-weight: 1000;
}

@media (min-width: 1100px) {
    .lumensyvyys-block-inner{
        width: 330px;
    }
}

@media (min-width: 450px) and (max-width: 1099px) {
    .lumensyvyys-block-inner{
        width: 400px;
    }
}

@media (max-width: 449px) {
    .lumensyvyys-block{
        width: 95%;
    }
}

.lumensyvyys-block-inner{
    height: 110px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    box-sizing: border-box;
    position: relative;
    padding: 0 20px;
}

.lumensyvyys-block-inner svg{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#lumensyvyys{
    font-size: 32px;
    font-weight: 1000;
    position: absolute;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
#lumensyvyys-aika{
    position: absolute;
    margin-left: 63px;
    top: 75%;
    transform: translateY(-50%);
}